// Reset CSS
@use "./reset.scss";

// Layout
@use "./layout/grid";
@use "./layout/header";
@use "./layout/footer";

// Page
@use "./pages/home";
@use "./pages/signin";
@use "./pages/signup";
@use "./pages/account";
@use "./pages/collection";
@use "./pages/payment";

// Components
@use "./components/buttons";
@use "./components/forms";

// Root
:root {
  --primary-color: #ed5a25;
}

// Common
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  color: inherit;
}
